<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About Markus</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Markus</h1>
    <p>
      He was a great guy, good skills, but he meet in
    </p>
    <p>Berlin 2020 some students in Iron hack that changed his live 🤣</p>
    <p class="markus">
      They let him win and win, to make him confident, but after a while he
      feelt like a pro and decidet to change his career and go for the
      championships
    </p>
    <img src="/images/chess.jpg" />
    <br />

    <a href="/">Back to Home</a>
    <br />
    <a href="/markusworks">Find the End</a>
  </body>
</html>
