<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Markus Profile</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>His end</h1>
    <img src="/images/homeless.jpg" />
    <p>
      At the end he came to the world championships, and he had the bad luck to
      play agains the idol "Magnus Carlsen "
    </p>
    <p>
      After a 2min game, Magnus smashed him as he was doing with al the poor
      students in Iron Hack, we can see days later how Markus is living in the
      center of Berlin
    </p>
    <br />
    <a href="/markus">Previous Page</a>
    <br />
    <a href="/">Back to Home</a>
  </body>
</html>
